body {
  background-color: #ffffff !important;
  line-height: 1.9em !important;
  font-family: "Kanit" !important;
  font-weight: 300 !important;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px !important;
  }
}

@media (min-width: 1440px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1300px !important;
  }
}

@media (min-width: 2560px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1700px !important;
  }
}
.bar {
  margin-bottom: 15vh !important;
  margin-top: 20vh !important;
}

.closeproduct {
  font-size: 1.5rem;
  color: red;
  // position: absolute;
  right: 5%;
  top: 2vh;
}
.product-detail {
  left: 50%;
  transform: translate(-50%, -50%);
  top: 59%;
  width: 75vw;
  height: 70vh;
  background-color: #ffffff;
  position: fixed;
  z-index: 999;
  text-align: left;
  padding: 3vw;
  overflow-y: auto;
  h3 {
    color: #025073;
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #025073;
  }
  p {
    font-size: 0.8rem;
  }
  img {
    max-width: 30vh;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.product-bg {
  left: 46%;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 111vw;
  height: 104vh;
  background-color: #3f4244a9;
  position: fixed;
  z-index: 997;
}

.imgproduct {
  max-width: 100%;
}
.breadcrumb__links a {
  padding-bottom: 20px;
  font-size: 14px;
  color: #ffffff;
  margin-right: 18px;
  display: inline-block;
  position: relative;
}
.breadcrumb__links a:hover {
  text-decoration: none;
}

.breadcrumb__links a:after {
  position: absolute;
  right: -15px;
  top: 0;
  content: "\f105";
  font-family: "FontAwesome";
}

.breadcrumb__links span {
  font-size: 14px;
  color: #a8a8a8;
  display: inline-block;
}

.product-services {
  display: flex;
  justify-content: center;
  height: 220px;
  margin-bottom: 100px;
}
.paddingcard {
  border: none !important;
  padding: 2vw !important;
}
.cardItem {
  // height: 149px;
  // width: 141px;
  // margin-top: 100px;
  // margin-right: 20px;
  height: 100%;
  padding: 20px;
  // margin: 10px;
  text-align: center;
  transition: all 500ms ease-in-out;
  box-shadow: #7c8db594 8px 10px 14px 5px;
  // background-color: #eee;
  // border: 1px solid rgba(0, 0, 0, 0.05);
}
.cardItem:hover {
  // margin-top: 92px;
  cursor: pointer;
  box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2);
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.cardLabel {
  margin-top: 24px;
  width: 100%;
  font-size: 16px;
  display: block;
}
.material-icons {
  font-size: 64px;
  margin-top: 24px;
  color: #1ab5ad;
}

.hero-service {
  padding: 100px 0;
  max-width: 100%;
  height: auto;
}
.bg-text {
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
}
.hero-service h2 {
  font-size: 3.5vw;
}
.hero-service h4 {
  font-size: 2vw;
}

.text-services h4 {
  // position: absolute;
  font-size: 2vw;
  font-weight: 300;
  color: #00b3fe;
}
.breadcrumb__text h2 {
  //position: absolute;
  color: #ffffff;
  padding-top: 10px;
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 35px;
}

.breadcrumb-option {
  padding: 50px 0;
}

.breadcrumb-option.contact-breadcrumb {
  padding: 70px 0 260px;
}

.breadcrumb-option.contact-breadcrumb h2 {
  margin-bottom: 0;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.open-detail {
  display: block !important;
}

.set-services {
  background-position: top center;
}

.projcard-container {
  margin: 50px 0;
}

/* Actual Code: */
.projcard-container,
.projcard-container * {
  box-sizing: border-box;
}
.projcard-container {
  margin-left: auto;
  margin-right: auto;
}
.projcard {
  position: relative;
  width: 100%;
  padding: 30px 80px 0 60px;
  margin-bottom: 40px;
  border-radius: 10px;
  // background-color: #fff;
  // border: 2px solid #ddd;
  font-size: 1.5vw;
  overflow: hidden;
  box-shadow: 0 4px 21px -8px rgba(0, 0, 0, 0.66);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.projcard-img {
  text-align: center;
  padding: 20px;
  max-width: 100%;
  height: auto;
  background-size: cover;
}
.projcard-title {
  padding: 20px;
  // font-family: "Voces", "Open Sans", arial, sans-serif;
  font-size: 2vw;
}
.projcard-subtitle {
  // font-family: "Voces", "Open Sans", arial, sans-serif;
  color: #888;
}
.projcard-bar {
  left: -2px;
  // width: 50px;
  height: 1px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #ddd;
  transition: width 0.2s ease;
}
.projcard-blue .projcard-bar {
  background-color: #0088ff;
}
.projcard-description {
  font-size: 18px;
  // color: #424242;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  display: none;
  .active {
    .content {
      display: block;
    }
  }
}

.projcard-tagbox {
  margin-top: 30px;
  position: absolute;
  font-size: 14px;
  cursor: default;
  user-select: none;
  pointer-events: none;
}

.textheader {
  color: #0e76ba;
  font-weight: 600;
  margin-right: 1vw;
  font-size: 4vw;
  /* position: absolute; */
  left: 0;
  top: -16px;
}

.projcard-product {
  position: absolute;
  bottom: 3%;
  top: 30%;
  margin: 0 10px;
  font-size: 14px;
  cursor: default;
  user-select: none;
  pointer-events: none;
}

.projcard-tag {
  display: inline-block;
  background: #e0e0e0;
  color: #777;
  border-radius: 3px 0 0 3px;
  line-height: 26px;
  padding: 0 10px 0 23px;
  position: relative;
  margin-right: 20px;
  cursor: default;
  user-select: none;
  transition: color 0.2s;
}
.projcard-tag::before {
  content: "";
  position: absolute;
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  height: 6px;
  left: 10px;
  width: 6px;
  top: 10px;
}
.projcard-tag::after {
  content: "";
  position: absolute;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #e0e0e0;
  border-top: 13px solid transparent;
  right: -10px;
  top: 0;
}

@media only screen and (max-width: 427px) {
  .projcard {
    padding: 20px;
  }
  .bar {
    margin-top: 0vh !important;
    margin-bottom: 6vh !important;
  }
}
@media only screen and (max-width: 769px) and (min-width: 428px) {
  .bar {
    margin-top: 5vh !important;
    margin-bottom: 10vh !important;
  }
}
@media only screen and (max-width: 769px) {
  .textheader {
    font-size: 7vw;
  }
}
