.section4 {
    background: #002d5b;
}
.projcard-section4 {
    position: relative;
    width: 100%;
    padding: 30px 80px 0 60px;
    margin-bottom: 40px;
    border-radius: 10px;
    color: aliceblue;
    // background-color: #fff;
    // border: 2px solid #ddd;
    font-size: 18px;
    overflow: hidden;
    // box-shadow: 0 4px 21px -8px rgba(0, 0, 0, 0.66);
    // transition: box-shadow 0.2s ease, transform 0.2s ease;

    .contact-padding {
        color: #fff;
        padding: 50px 0;
        font-family: "Kanit";
        font-weight: 300;
    }
    // h2 {
    //     font-family: "Kanit";
    // }
    // ul {
    //     font-family: "Kanit";
    // }
}
