.sd {
  padding-top: 35px;
}
.toppad {
  padding-top: 11px;
  background: #fff;
}

.imgfooter {
  max-height: 50vw;
  width: auto;
}
.footerservices {
  font-size: 18px;
}
.footerservices a {
  color: black;
  text-decoration: none;
}
.footerservices a:hover {
  text-decoration: none;
}
